footer {
    background: #BE93C5; /* fallback for old browsers */
    background: linear-gradient(to left, #BE93C5 , #7BC6CC); 
    text-align: center;
    padding: 1rem;
    color: #fff;
    font-size: 16px;
}