@mixin primary-font($size, $line-height: 1.5625) {
	font-family: 'Lato', sans-serif;
	font-size: $size;
	line-height: $line-height;
}

@mixin heading-font($size: $font-size-base, $line-height: $line-height) {
	font-family: 'Ubuntu', sans-serif;
	font-weight: 600;
	font-size: $size;
	line-height: $line-height;
	-webkit-font-feature-settings: "kern" 1;
	text-rendering: optimizeLegibility;
}

@mixin heading-para($size, $line-height: 1.5625) {
    font-family: 'Russo One', sans-serif;
    font-size: $size;
    line-height: $line-height;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
               0px 8px 13px rgba(0,0,0,0.1),
               0px 18px 23px rgba(0,0,0,0.1);
}

@mixin testimonial-quote {
	background: #fff none repeat scroll 0 0;
    border: medium none;
    color: #666;
    display: block;
    font-size: 14px;
    line-height: 20px;
    padding: 15px;
    position: relative;

    &:before {
        width: 0; 
        height: 0;
        right: 0;
        bottom: 0;
        content: " "; 
        display: block; 
        position: absolute;
        border-bottom: 20px solid #fff;    
        border-right: 0 solid transparent;
        border-left: 15px solid transparent;
        border-left-style: inset; /*FF fixes*/
        border-bottom-style: inset; /*FF fixes*/
    }
    &:after {
        width: 0;
        height: 0;
        right: 0;
        bottom: 0;
        content: " ";
        display: block;
        position: absolute;
        border-style: solid;
        border-width: 20px 20px 0 0;
        border-color: #e63f0c transparent transparent transparent;
    }
    p {
        text-align: right;
    }
}

@mixin testimonial-img {
	width: 95px;
    height: 95px;
    padding: 7px;
    border: 1px solid #f5f5f5;
    border-radius: 150px!important;
    background: #283048; /* fallback for old browsers */
    background: linear-gradient(to left, #283048 , #859398);
}


// Card-like display of boxes with box shadow
//
@mixin ui-card {
	box-shadow: 0 14px 24px 0 rgba(50,48,57,.25);
}

// Round icons
//
@mixin icon-round {
	display: block;
	font-size: $icon-round-size;
	line-height: $icon-round-line-height;
	border-radius: $icon-round-border-radius;
	outline: none;
	padding: $icon-round-padding;

	&:link,
	&:visited {
		color: $icon-round-color;
		background-color: $icon-round-bg;
	}

	&:focus,
	&:hover,
	&:active {
		color: $icon-round-color-hover;
		background-color: $icon-round-bg-hover;
		text-decoration: none;
	}

	i {
		padding: 0 10px 0 0;
	}
}

@mixin scrolling {
	opacity: 0.9;
	transition: opacity 0.5s ease;

	&:hover {
		opacity: 1;
	}
}
