#get-in-touch {
	background: #ebebeb;
	height: 300px;
	padding: 3rem 0 0 0;  
	text-align: center; 
	// Below 34em (544px)
	@include media("<sm") {
		height: auto;
	}  

	h2 {
      @include heading-font(2rem);
      margin: 0;
      font-weight: normal;
      color: #004975;
        // Below 34em (544px)
        @include media(">sm") {
            @include heading-font(2.5rem);
            font-weight: normal;
        }

        // Below 62em (992px)
        @include media("<lg") {
            @include heading-font(3.7rem);
        }
	} 

	h3 {
		color: #004975;
		font-size: 20px;
	}

	.social-icon {
		list-style: none;
		margin-top: 2.5rem;

		li {
			display: inline;
			margin-right: 0.5rem;
			padding: 0.5rem 0.6rem;
			border-radius: 50%; 

			&:first-child {
				padding: 0.5rem 0.8rem;
				background-color: #5883c0;
			}

			&:nth-child(2) {
				background-color: #63bee0;
			}

			&:nth-child(3) {
				background-color: #d35051;
			}

			&:nth-child(4) {
				background-color: #005cff;
			}

			i {
				color: #fff;
			}      
		}
	}
}
