#get-in-touch {
	background: #EFEFBB; /* fallback for old browsers */
	background: linear-gradient(to left, #EFEFBB , #D4D3DD); 
	height: 300px;
	padding: 3rem 0 0 0;  
	text-align: center; 
	// Below 34em (544px)
	@include media("<sm") {
		height: auto;
	}  

	h1 {
		@include heading-font(2.7rem);
        font-weight: 300;
        padding: 0;
        margin: 0;
        text-transform: capitalize;
        color: #3c4144;
        span {
            background: -webkit-linear-gradient(135deg, #23966c, #faaa54, #e23b4a);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        // Below 34em (544px)
        @include media(">sm") {
            @include heading-font(3rem);
            font-weight: normal;
            color: #1D1F20;
        }

        // Below 62em (992px)
        @include media("<lg") {
            @include heading-font(3.7rem);
        }
	} 

	h3 {
		color: #7baecd;
	}

	.social-icon {
		list-style: none;
		margin-top: 2.5rem;

		li {
			display: inline;
			margin-right: 0.5rem;
			padding: 0.9rem;
			border-radius: 50%;
			background: #ff00cc; /* fallback for old browsers */
			background: linear-gradient(to left, #ff00cc , #333399); 

			&:first-child {
				padding: 0.9rem 1.1rem;
			}

			i {
				color: #fff;
			}      
		}
	}
}