#intro {
	//background-image: url(../img/home-screen.jpg) ;
	background-position: center center;
	background-repeat:  no-repeat;
	background-attachment: fixed;
	background-size:  cover;
	height: 100vh;
	background-color: #999;
}