#proficiency {
	background: #24C6DC; /* fallback for old browsers */
	background: linear-gradient(to left, #24C6DC , #514A9D);
	height: 100vh;
	text-align: center;

	// Below 62em (992px)
	@include media("<lg") {
		height: auto;
	}

	.heading-text {
		padding-top: 6rem;
		h2 {
			display: inline-block;
	      @include heading-font(3rem);
	      font-weight: normal;
	      text-transform: uppercase;
	      margin-bottom: 2rem;

			span {
				background: -webkit-linear-gradient(135deg, #FF9F65, #DED37E, #26BDA6);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
			}

			// Below 34em (544px)
			@include media(">sm") {
				@include heading-font(3.5rem);
				font-weight: normal;
				color: #1D1F20;
			}

			// Below 62em (992px)
			@include media("<lg") {
				@include heading-font(3.7rem);
			}
		}

		h5 {
			@include primary-font(1rem);
			color: #444;
			text-align: center;
			text-transform: none;
			padding: 0;
			margin: 0;
			margin-bottom: 5rem;
		}
	}
	.circle-box {
		display: inline-block;

		#bluecircle,
		#redcircle,
		#yellowcircle,
		#blackcircle {
			@include ui-card;
		}
	}
}

.percircle.big {
    font-size: 200px;
}
