#team-head {
	background: url(https://raw.githubusercontent.com/JulianLaval/canvas-particle-network/master/img/demo-bg.jpg) no-repeat center center fixed;
    background-size: cover;
    position: relative;
    height: 50vh;
    width: 100%;
    color: #fff;

    // Below 34em (544px)
	@include media("<sm") {
		.text {
			position: absolute;
			margin-top: 5rem;
			left: 9%;
	    }
	}
    
}
#team {
	padding: 3rem 0;

	figure {
		img {
			border-radius: 50%;

			// Below 34em (544px)
			@include media("<sm") {
				width: 150px;
				height: 150px;
				margin-left: 6rem;
			}
		}

		figcaption {
			text-align: center;
			padding-right: 33px;
			padding-top: 20px;
			font-size: 16px;
			font-weight: bold;

			// Below 34em (544px)
			@include media("<sm") {
				padding-right: 0;
			}

			span {
				color: #006cad;
				font-size: 16px;
				font-weight: normal;
			}
			p {
				font-size: 15px;
				font-weight: normal;
				padding-top: 10px;
				padding-left: 10px;
				padding-right: 10px;
			}
			.social-icon {
				list-style: none;
				margin-top: 2.5rem;

				li {
					display: inline;
					padding: .17rem 0.5rem;
					margin-right: 0.5rem;					
					border-radius: 50%; 

					&:first-child {
						padding: 0.2rem 0.7rem;
						background-color: #5883c0;
					}

					&:nth-child(2) {
						background-color: #63bee0;
					}

					&:nth-child(3) {
						background-color: #d35051;
					}

					&:nth-child(4) {
						background-color: #005cff;
					}

					i {
						color: #fff;
						font-size: 9px;
					}      
				}
			}
		}
	}
}