/* Testimonials */
#testimonial {
    background: #e6e6e6;
    height: 100vh;  
    text-align: center;
    padding: 7rem;

    // Below 34em (544px)
      @include media("<sm") {
        padding: 0;
      }

    // Below 62em (992px)
    @include media("<lg") {
        height: auto;
    }

    h2 {
      @include heading-font(2.7rem);
      font-weight: normal;
      text-transform: uppercase;
      margin-top: -2.2rem;
      margin-bottom: 5rem;
      color: #006cad;

      // Below 34em (544px)
        @include media("<sm") {
            margin-top: 2rem;
            margin-bottom: 2rem;
        }

      &:before,
      &:after {
        content: "";
        position: absolute;
        height: 5px;
        border-bottom: 1px solid #006cad;
        border-top: 1px solid #006cad;
        background-color: #006cad;
        top: 0;
        width: 280px;
      }

      &:before {
        right: 100%;
      }

      &:after {
        left: 100%;
      }
        // Below 34em (544px)
        @include media(">sm") {
            @include heading-font(3.5rem);
            font-weight: 900;
        }

        // Below 62em (992px)
        @include media("<lg") {
            @include heading-font(1.7rem);
        }
    }

    .testimonials {
        margin-right: 1rem;
        .item-1 {
            margin-bottom: 2rem;
            blockquote {
                @include testimonial-quote;
            }
            figure {
                img {
                    @include testimonial-img;         
                } 
            }
        }
        .item-2 {
            margin-bottom: 2rem;
            clear: both;
            blockquote {
                @include testimonial-quote;
                float: right;
                // Below 48em (768px)
                @include media("<md") {
                    float: none;
                }

                p {
                    text-align: left;
                    // Below 48em (768px)
                    @include media("<md") {
                        float: none;
                    }
                }
            }
            figure {
                img {
                    @include testimonial-img;   
                    float: left; 
                    margin-left: 2rem;

                    // Below 34em (544px)
                    @include media("<sm") {
                        float: none;
                    }      
                } 
                figcaption {
                    clear: both;
                }
            }
        }
        .item-3 {
            blockquote {
                @include testimonial-quote;
            }
            figure {
                img {
                    @include testimonial-img;         
                } 
            }
        }
    }
}
