.thumbnails {
  text-align: center;
  color: #006CAD;

  .control {
    background-color: #E6E6E6;


    h2 {
      display: inline-block;
      @include heading-font(3rem);
      font-weight: normal;
      text-transform: uppercase;
      margin-bottom: 2rem;
    }
    .btn {
      margin-bottom: 1.7rem;
      text-transform: uppercase;
      overflow: hidden;

      &:hover {
        border: 2px solid #006CAD;
        border-radius: 0;
      }
    }
  }
  img {
    margin: 10px;
  }
}

.grid {
  width: 320px;
  margin: 0 auto;
}
@media (min-width: 641px) {
  .grid {
    width: 640px;
  }
}
@media (min-width: 1000px) {
  .grid {
    width: 960px;
  }
}
